/* cyrillic-ext */
@font-face {
    font-family: 'Alice';
    src: url(../../font/Alice/Alice-Regular.ttf);
    
}
@font-face {
    font-family: 'perfect beloved';
    src: url(../../font/perfect_beloved/Perfect\ Beloved.otf) ;
    
}

// /* cyrillic */
// @font-face {
//     font-family: 'Alice';
//     font-style: normal;
//     font-weight: 400;
//     font-display: swap;
//     src: url(./../../font/Alice/Alice-Regular.ttf) format('truetype');
  
// }

// /* latin-ext */
// @font-face {
//     font-family: 'Alice';
//     font-style: normal;
//     font-weight: 400;
//     font-display: swap;
//     src: url(./../../font/Alice/Alice-Regular.ttf) format('truetype');
  
// }

// /* latin */
// @font-face {
//     font-family: 'Alice';
//     font-style: normal;
//     font-weight: 400;
//     font-display: swap;
//     src: url(./../../font/Alice/Alice-Regular.ttf) format('truetype');
// }  


// @font-face {
//     font-family: 'Alice';
//     font-style: normal;
//     font-weight: 400;
//     font-display: swap;
//     src: url(./../../font/Alice/Alice-Regular.ttf) format('truetype');
   
// }