:root{
    --textColorLight: #ffffff;
    --textColorDark: #000000;
    --defaultSvgColor: var(--primaryColor);
    --navHeight: 60px;
    --borderPrimaryRadius: 20px;
    --borderSecondaryRadius: 5px;
    --primaryColor: #006450;
    --primaryColorLight: #ebf7f5;
    --textColorContrast: #ffffff
}